
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  transition: background 0.1s ease-in-out;
}

#checkbox-div {
  background-color: white;
}
#btn-plus {
  background-color: white;
}

.list-group-item {
  border-bottom: 1px solid gray;
}

.completed {
  text-decoration: line-through;
}